.filterbar{
    background: #2D2853;
    padding: 18px 19px 16px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ABABAB;
    margin-bottom: 41px;

    .filter{
        display: flex;
        align-items: center;

        label{
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            margin-right: 47px;
        }

        .filterUpcoming{
            border-right: 2px solid #ABABAB;
            padding-right: 50px;
        }

        .filterYear{
            label{
                margin-right: 36px;
                margin-left: 50px;
            }

            .selectYear{
                width: 135px;
            }
        }

        select{
            background: transparent;
            color: #DADADA;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            border: none;
            outline: none;

            option{
                text-transform: capitalize;
                color: #2D2853;
            }
        }
    }

    .search {
        input{
            background: #2D2853;
            color: #DADADA;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            border: 1.5px solid #DADADA;
            border-right: none;
            padding: 22px 11px;
            text-align: left;
            padding: 7px 10px;
            outline: none;
        }

        button{
            font-size: 16px;
            background: #10013F;
            border: 1.5px solid #DADADA;
            padding: 7px 35px;
            color:#fff;
            outline: none;
        }
    }

    @media screen and(max-width: 1199px) {
        display: block;

        .filter{
            justify-content: space-between;
            margin-bottom: 35px;

            .filterUpcoming{
                border: none;
            }
        }

        .search{
            display: flex;
            justify-content: center;
        }
    }

    @media screen and(max-width: 767px) {
        .filter{
            display: block;

            .filterUpcoming{
                padding: 0;
            }

            .filterYear{
                margin-top: 20px;

                label{
                    margin-left: 0;
                }
            }
        }
    }

    @media screen and(max-width: 450px) {
        padding: 15px;

        .filter{

            .filter{
                label{
                    margin-left: 20px;
                    padding: 0;
                }
            }

            label{
                font-size: 16px;
                margin-right: 20px;
            }
            
            select{
                font-size: 16px;
                width: 120px !important;
            }
        }

        .search{
            form{
                input{
                    padding: 5px 5px;
                    width: 150px;
                }

                button{
                    padding: 5px 10px;
                }
            }
        }
    }
}