#missions{
    padding-top: 120px;
    padding-bottom: 120px;
    background: #18163B;

    .heading {
        color: #fff;
        font-family: 'Russo One', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        margin-bottom: 50px;
    }
}