.content{
    background: #231E44;
    padding: 50px 65px;
    text-align: center;
    height: 458px;

    img{
        height: 128px;
    }

    .title{
        color: #fff;
        font-family: 'Russo One', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        margin-top: 27px;
        margin-bottom: 30px;
    }

    p{
        font-size: 16px;
        color: #DADADA;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
    }

    &:hover{
        background: linear-gradient(95.48deg, #2317FA -1.25%, #D529E4 97.48%);
        box-shadow: 6px 16px 31px 8px rgba(59, 88, 239, 0.15);

        p{
            color: #fff;
        }
    }

    @media screen and(max-width: 1400px) {
        .title{
            font-size: 25px;
            margin-top: 20px;
            margin-bottom: 25px;
        }

        p{
            font-size: 16px;
        }
    }

    @media screen and(max-width: 1200px) {
        padding: 40px;
    }

    @media screen and(max-width: 992px) {
        padding: 30px 20px;

        .title{
            font-size: 23px;
        }
    }

    @media screen and(max-width: 767px) {
        margin-bottom: 30px;
    }
}